<h1><%=h title %></h1>

<%= error_messages_for :other_record %>

<% form_for(@other_record) do |other_record| %>
  <%= render :partial => 'subform', :locals => {:other_record => other_record} %>
  <p>
    <%= other_record.submit submit_string %>
  </p>
<% end %>
