<h1>New gas_type</h1>

<%= error_messages_for :gas_type %>

<% form_for(@gas_type) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', gas_types_path %>
